body {
	margin: 0;
	padding: 0;
	font-family: sans-serif;
	}
.background{
	height: 100vh;
	background-image: linear-gradient(rgba(0,0,0,0.8),rgba(0,0,0,0.6)),url(Imagens/background.png) ;
	background-position: center;
	background-size: cover;
	overflow-x:hidden ;
	position: relative;
	}

.nav-bar {
	display: flex;
	padding: 40px 110px;

	}

.nav-logo img{
	width: 75px;
	margin-left: 20px;
	}
.nav-link{margin-top: 20px;
	flex: 1;
	}
.nav-link ul {
	margin-left: 20px;
	display: inline;
	}
.nav-link ul li {
	list-style: none ;
	display: inline-block;
	padding: 8px 25px;
	}

.nav-link ul a{
	color: #fff;
	text-decoration: none;
	font-size: 15px;
	}

.nav-link ul li::after{
	content: '';
	width: 0;
	height: 2px;
	background: #3c6c8b;
	display: block;
	margin: auto;
	transition: .5s;
	}

.nav-link ul li:hover::after{
width: 100%
	}

.btn{
	padding: 10px 20px;
	border: 0;
	background: #3c6c8b;
	font-weight: bold;
	cursor: pointer;

	}

.nav-link .btn {
	float: right;

	}

.banner-tittle{
	margin: 80px 120px;
	color: #fff;
	}

.banner-tittle h1{
	font-size: 64px;
	margin-bottom: 30px;
	}

.banner-tittle h1 .tittle {
	color: #3c6c8b;
	}

.banner-tittle h1 .phrase {
	font-size: 50px;
	}
.vertical-bar{
	height:100%;
	background: #000;
	top:0;
	left:-150px;
	position: absolute;
	width: 210px;
	transition: .5s;
	}
.search-icon{
	height: 60%;
	width: 60px;
	float: right;
	}
.search-icon .fa{
	margin: 25px 17px;
	display: block;
	color: #fff;
	font-size: 25px;
	cursor: pointer;
	}

.social-icons{
	width: 60px;
	font-size: 25px;
	background: #3c6c8b;
	text-align: center;
	padding-top: 5px;
	position: absolute;
	display: inline-block;
	right: 0;
	}

#Salsa{bottom: 61px;}
#social-icons {bottom: 0;}

.social-icons .fa{
margin: 5px 5px;
	display:inline-block;
	padding: 10px;
	cursor: pointer;
float: right;

	}

.profile{ margin-left: 5px;
	display:inline-block;
	padding: 5px;
	cursor: pointer;
	float: right;
	width: 45px}



.clean-link:link{
	text-decoration: none;
	color: black;
	}

.vertical-bar .social-icons a:hover,.vertical-bar .social-icons a:visited,.vertical-bar .social-icons a:link,.vertical-bar .social-icons a:active
{
	text-decoration: none; color: black;
	}

.nav-bar .fa{
	display: none;
	}

.contact_form{
	margin: 0 120px;
	color: #fff;
	}

.contact_form label h1 {
	display: block;  font-size: 25px; margin-left: 15px;
	}

.contact_form input[type=text] {
	width: 100%;
	padding: 12px 20px;

	box-sizing: border-box;
	}

.contact_form textarea {
	width: 100%; height: 100px;
	padding: 12px 20px;
	resize: none;
	box-sizing: border-box;
	}

.contact_form input[type=submit]{
	float: right;
	padding: 10px 20px;
	border: 0;
	background: #3c6c8b;
	font-weight: bold;
	cursor: pointer;
	}

.projects{	color: #fff; 	margin: 0px 120px;

	}

.projects  h1{ text-align: center;
	font-size: 64px;
margin-top: 150px;
	}

.projects h1 .tittle {
	color: #3c6c8b;
	}

/* -------------------------------------------------- */

@media (max-width: 860px){

	.vertical-bar{
		display: none;
		}
.banner-tittle{
	margin: 80px 40px;
	}

.banner-tittle h1{
	font-size: 50px;
	}
.nav-bar{padding: 25px 30px;}

.fa-bars{position: absolute; right: 20px; top: 15px;}

	.nav-bar .fa{display: block;
		color: #fff;
		margin: 25px 25px;
		font-size: 22px;
		cursor: pointer;}

	.nav-link{
		margin-top: 0;
		height:100vh;
		width: 210px;
		background: #000;
		right: -210px;
		top: 0;
		position: absolute;
		z-index: 2;
		transition: .5s;
		}

	.nav-link ul a{
		display: block;
		}

	.nav-link .btn{
		float: none;
		margin-left: 25px;
		margin-top: 10px;

		}

	.contact_form {
		margin: 0 60px;
		}

	.projects{
		margin-top: 100px;

		}

	.projects h1{
		font-size: 35px;

		}

	.social-icons {
		width: 210px;
		font-size: 25px;
		background: #3c6c8b;
		text-align: center;
		padding-top: 5px;
		position: absolute;
		display: inline-block;
		left: 0;
height: 60px;

		}

	#Salsa-right{bottom: 61px;}
	#social-icons-right {bottom: 0;}

	.social-icons .fa{
		margin: 5px 5px;
		display:inline-block;
		padding: 10px;
		cursor: pointer;
		float: right;

		}

	.profile{ margin-left: 5px;
		display:inline-block;
		padding: 5px;
		cursor: pointer;
		float: right;
		width: 45px}


	}



